###
### Arquivo gerenciado pelo Puppet
### Nao altere direto no servidor
### Suas configuracoes podem ser desfeitas
### Linux

### módulo nginx
### puppetserver: master.puppetlabs.vm
### localização: .../modules/nginx/templates/default.conf.erb

### Sistema operacional: <%= @operatingsystem %>

server {
    listen       80 default_server;
    server_name  _;

    location / {
        root   <%= @docroot %>;
        index  index.html index.htm;
    }
}
