###
### Arquivo gerenciado pelo Puppet
### Nao altere direto no servidor
### Suas configuracoes podem ser desfeitas se o fizer
###

### módulo nginx
### puppetserver: master.puppetlabs.vm
### localização: .../modules/nginx/templates/nginx.conf.erb

### Sistema operacional: <%= @operatingsystem %>

<% if @kernel == 'Linux' %>
user <%= @username %>;
<% end %>

worker_processes  1;

error_log  <%= @logdir %>/error.log;

<% if @kernel == 'Linux' %>
pid        /var/run/nginx.pid;
<% end %>

events {
    worker_connections  1024;
}

http {
    include       <%= @confdir %>/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  <%= @logdir %>/access.log  main;
    sendfile        on;
    keepalive_timeout  65;
    include <%= @blockdir %>/*.conf;
  }
