###
### Arquivo gerenciado pelo Puppet
### Nao altere direto no servidor
### Suas configuracoes podem ser desfeitas
### Linux

### módulo nginx
### puppetserver: master.puppetlabs.vm
### localização: .../modules/nginx/templates/vhost.conf.erb

### Sistema operacional: <%= @operatingsystem %>

server {
    listen       <%= @port %> <% if @servername == 'default' %>default_server<% end %>;
    server_name  <%= @servername %>;

    location / {
        root   <%= @vhostdir %>;
        index  index.html index.htm;
    }
}
